In [3]:
import pandas as pd

df = pd.read_csv('_polygonDataExceptVertices.csv')
df = df.drop(['polygon_id', 'resolution'], axis=1)
df = df.drop(df[df.city != 'Oxnard'].index) 
df = df.drop(['city', 'projection_zone'], axis=1)
df.head()

,centroid_latitude,centroid_longitude,centroid_latitude_pixels,centroid_longitude_pixels,area_pixels,area_meters,image_name,nw_corner_of_image_latitude,nw_corner_of_image_longitude,se_corner_of_image_latitude,se_corner_of_image_longitude,datum,jaccard_index
15416,34.243108,-119.160555,2118.488363,3428.374855,90.020804,1000.231156,621051913,34.248828,-119.171986,34.238028,-119.151981,NAD83,0.000000
15417,34.241204,-119.165305,2823.293951,2004.022414,11.117869,123.531876,621051913,34.248828,-119.171986,34.238028,-119.151981,NAD83,0.796921
15418,34.239659,-119.169852,3395.750380,640.194779,9.127378,101.415315,621051913,34.248828,-119.171986,34.238028,-119.151981,NAD83,0.791697
15419,34.239620,-119.169748,3410.340968,671.224025,20.557874,228.420819,621051913,34.248828,-119.171986,34.238028,-119.151981,NAD83,0.836574
15420,34.240401,-119.164998,3121.117334,2095.824496,10.289467,114.327411,621051913,34.248828,-119.171986,34.238028,-119.151981,NAD83,0.856176

### Sacar un vector con las imágenes que tienen placas

In [4]:
import numpy as np

image_names = np.array(df.value_counts('image_name').index)

array(['621651901', '621051897', '619251901', '620451901', '620451909',
       '621051877', '620451881', '621051901', '620451877', '620451905',
       '619851905', '621051893', '620451889', '619851917', '620451885',
       '620451893', '621051885', '619851893', '618651893', '619851901',
       '620451897', '619851885', '619851881', '619851909', '619251893',
       '619251889', '619251917', '621051905', '619251913', '618651917',
       '618051917', '621051913', '621051909', '618651897', '621051881',
       '619851897', '620451917', '621651889', '621051889', '619251905',
       '619251877', '619251881', '621651905', '618651889', '621651885',
       '621051917', '619851889', '621651917', '619251885', '618651885',
       '620451913', '621651881'], dtype=object)

### Crear la carpeta para cada imagen

In [11]:
import os

for _ in image_names:
    os.mkdir(os.path.join(os.getcwd(), _))

### Hacer imágenes en blanco y negro

In [27]:
from PIL import Image

for _ in image_names: 
    img = Image.open( _ + '/' + _ + '.tif')
    imgGray = img.convert('L')
    imgGray.save( _ + '/' + _ + '.jpg')

### Dividir las imágenes en blanco y negro

In [31]:
import image_slicer

for _ in image_names:
    image_slicer.slice( _ + '/' + _ + '.jpg', 2500)